<div class="users-index">
  <h1>All Users</h1>

  <div class="all-users">
    <div class="users-grid">
      <% @users.each do |user| %>
        <% next if user == current_user %>
          <div class="users-index-user">
            <%= link_to(user.profile) do %>
              <%= image_tag user.profile.profile_photo('thumb'), size: '100x100' %>
            <% end %>

            <p class="friend-name">
              <%= user.first_name %>
            </p>

            <% if current_user.requesters.where('requests.accepted = ?', 0).include?(user) %>
              <%= link_to "Confirm", request_path(id: current_user.received_requests.find_by(requester_id: user.id).id, request: { requester_id: user.id }), method: :put, class: "add-friend-button users-index-button accept-color" %>
            <% elsif current_user.requesters.include?(user) %>
            <% elsif !current_user.requestees.include?(user) %>
              <%= link_to "Add Friend", requests_path(request: { requestee_id: user.id }), method: :post, class: "add-friend-button users-index-button" %>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<div class="users-next-page-div">
<%= link_to_previous_page @users, 'Previous Page', class: "previous-page user-page" %>
<%= link_to_next_page @users, 'Next Page', class: "next-page user-page" %>
</div>
