<div class="posts-edit">

<div class = "new-post">
  <div class="new-post-top">
      <span>Edit your post</span>
  </div>
<%= form_for(@post, html: {multipart: true}) do |f| %>
  <%= link_to(current_user.profile) do %>
    <%= image_tag current_user.profile.profile_photo('thumb'), size: '100x100' %>
  <% end %>

  <%= f.text_area :content, rows: "3" %><br/>
  <% if @post.image.exists? %>
    <%= image_tag @post.image.url(:medium) %><br/>
    <%= f.label :image, fa_icon('image', type: :solid, text: "Replace Photo", color: 'rgb(66, 103, 178)'), class: 'photo-label' %><br/>
  <% else %>
    <%= f.label :image, fa_icon('image', type: :solid, text: "Photo", color: 'rgb(66, 103, 178)'), class: 'photo-label' %><br/>
  <% end %>
  <%= f.file_field :image, class: 'post-photo' %><br/>
  <%= f.submit "Post" %>
<% end %>
</div>
</div>
