<div class="posts">
<div class = "new-post">

  <div class="new-post-top">
    <span>Make Post</span>
  </div>

  <%= form_for(@post, html: {multipart: true}) do |f| %>

    <%= link_to(current_user.profile) do %>
      <%= image_tag current_user.profile.profile_photo('thumb'), size: '100x100' %>
    <% end %>

    <%= f.text_area :content, rows: "3", placeholder: "What's on your mind, #{current_user.first_name}?" %><br/>
    <%= f.label :image, fa_icon('image', type: :solid, text: "Photo", color: 'rgb(66, 103, 178)'), class: 'photo-label' %><br/>
    <%= f.file_field :image, class: 'post-photo' %><br/>
    <%= f.submit "Post" %>
  <% end %>


  <% if flash[:post_success] %>
    <div class="flash post-success"><%= flash[:post_success] %></div>
  <% elsif flash[:post_failure] %>
    <div class="flash post-failure"><%= flash[:post_failure] %></div>
  <% end %>
</div>


<% @posts.each do |post| %>
  <div class="post">
    <p class="post-header">
      <span>
        <%= link_to(post.user.profile) do %>
          <%= image_tag post.user.profile.profile_photo('tac'), class: 'tac-image' %>
        <% end %>

        <%= link_to "#{post.user.first_name}", post.user.profile, class: "user-name" %>
      </span>

      <%= link_to distance_of_time_in_words(Time.now, post.created_at)+ ' ago', post, class: 'timestamp' %>
      <% if current_user.id == post.user_id %>
        <span class="edit-delete-post">
          <%= link_to 'Edit Post', edit_post_path(post) %>
          <%= link_to 'Delete', post, method: :delete, data: {confirm: "Are you sure?"} %>
        </span>
      <% end %>
    </p>

    <p class="post-content">
      <%= post.content %><br/>
      <% if post.image.exists? %>
        <%= image_tag post.image.url(:medium), size: '300x300' %><br/>
      <% end %>
    </p>

    <div class="like-comment-buttons">
      <% like = post.likes.where("user_id = ?", current_user.id) %>
      <% if like.empty? %>
      <%= button_to likes_path(like: {post_id: post.id} ), method: :post, class: "like-button" do %>
        <%= fa_icon('thumbs-up', type: :regular, text: "Like") %>
      <% end %>
      <% else %>
        <%= button_to like.first, method: :delete, class: "like-button unlike" do %>
          <%= fa_icon('thumbs-up', type: :solid, text: "Like") %>
        <% end %>
      <% end %>
      <button class="comment-button"><i class="far fa-comment-alt"></i> Comment</button>
    </div>

    <% if post.likes.count > 0 %>

      <p class="liked-by">
        <%= fa_icon('thumbs-up', type: :solid, style: 'color:rgb(66,103,178)') %>
        <% case post.likes.count %>
        <% when 1 %>
            <% user = User.find(post.likes.first.user_id) %>
            <strong>
              <%= link_to "#{user.first_name} #{user.last_name}", user.profile, class: "user-name" %>
            </strong>
        <% when 2 %>

          <% post.likes.each_with_index do |like, index| %>
            <% user = User.find(like.user_id) %>
            <strong>
              <% unless index == post.likes.count - 1 %>
                <%= link_to "#{user.first_name} #{user.last_name}", user.profile, class: "user-name" %> and
              <% else %>
                <%= link_to "#{user.first_name} #{user.last_name}", user.profile, class: "user-name" %>
              <% end %>
            </strong>

          <% end %>

        <% else %>
          <% user1 = User.find(post.likes.first.user_id) %>
          <% user2 = User.find(post.likes.second.user_id) %>
          <strong>
            <%= link_to "#{user1.first_name} #{user1.last_name}", user1.profile, class: "user-name" %>,
            <%= link_to "#{user2.first_name} #{user2.last_name}", user2.profile, class: "user-name" %>
              <%= "and " + pluralize(post.likes.count - 2, "other") %>
          </strong>
        <% end %>

      </p>

    <% end %>

    <% if post.comments.count > 0 %>
    <div class="all-comments">
      <% post.comments.each do |comment| %>
        <% user = User.find(comment.user_id) %>
        <%= link_to(user.profile) do %>
          <%= image_tag user.profile.profile_photo('tac'), class: 'tac-image comment-image' %>
        <% end %>

        <p class="comment">
          <span class="comment-content">
            <strong><%= link_to "#{user.first_name} #{user.last_name}", user.profile, class: "user-name" %></strong> <%= comment.content %>
          </span>
          <% if current_user.id == comment.user_id %>
            <span class="edit-delete-comment">
              <%= link_to 'Edit', edit_comment_path(comment) %>
              <%= link_to 'Delete', comment, method: :delete, data: {confirm: "Are you sure?"} %>
            </span>
          <% end %>
        </p>

      <% end %>
    </div>
    <% end %>

    <%= form_for(@comment) do |f| %>
      <%= link_to(current_user.profile) do %>
        <%= image_tag current_user.profile.profile_photo('tac'), class: 'tac-image new-comment-image' %>
      <% end %>

      <%= f.text_area :content, class: "comment-field", placeholder: "Write a comment...", rows: "1" %>
      <%= f.hidden_field :post_id, value: post.id %>
      <%= f.submit "Comment" %>
    <% end %>
  </div>
<% end %>


<%= link_to_previous_page @posts, 'Previous Page', class: "previous-page" %>
<%= link_to_next_page @posts, 'Next Page', class: "next-page" %>

</div>
