<div class="posts-show">
<p>
  <span>
    <% if !@post.user.profile.avatar.exists? && @post.user.image %>
      <%= image_tag @post.user.image, class: 'tac-image', size: '20x20' %>
    <% else %>
      <%= image_tag @post.user.profile.avatar.url(:tac), class: 'tac-image', size: '20x20' %>
    <% end %>

    <%= link_to "#{@post.user.first_name}", @post.user.profile %>
  </span>
  <%= @post.content %><br/>
  <% if @post.image.exists? %>
    <%= image_tag @post.image.url(:medium) %>
  <% end %>



  <br/>

  <p class="like-comment-buttons">
    <% like = post.likes.where("user_id = ?", current_user.id) %>
    <% if like.empty? %>
    <%= button_to likes_path(like: {post_id: post.id} ), method: :post, class: "like-button" do %>
      <%= fa_icon('thumbs-up', type: :regular, text: "Like") %>
    <% end %>
    <% else %>
      <%= button_to like.first, method: :delete, class: "like-button unlike" do %>
        <%= fa_icon('thumbs-up', type: :solid, text: "Like") %>
      <% end %>
    <% end %>
    <button class="comment-button"><i class="far fa-comment-alt"></i> Comment</button>
  </p>

  <% if @post.likes.count > 0 %>

    <p class="liked-by">
        Liked by:
      <% case @post.likes.count %>
      <% when 1 %>
          <% user = User.find(@post.likes.first.user_id) %>
          <strong>
            <%= link_to "#{user.first_name} #{user.last_name}", user.profile %>
          </strong>
      <% when 2 %>

        <% @post.likes.each_with_index do |like, index| %>
          <% user = User.find(like.user_id) %>
          <strong>
            <% unless index == @post.likes.count - 1 %>
              <%= link_to "#{user.first_name} #{user.last_name}", user.profile %>
            <% else %>
              <%= link_to "#{user.first_name} #{user.last_name}", user.profile %>
            <% end %>
          </strong>

        <% end %>

      <% else %>
        <% user1 = User.find(@post.likes.first.user_id) %>
        <% user2 = User.find(@post.likes.second.user_id) %>
        <strong>
            <%= link_to "#{user1.first_name} #{user1.last_name}", user1.profile %>
            <%= link_to "#{user2.first_name} #{user2.last_name}", user2.profile %>
            <%= "and " + pluralize(@post.likes.count - 2, "other") %>
        </strong>
      <% end %>

    </p>

  <% end %>

  <% if @post.comments.count > 0 %>
    <% @post.comments.each do |comment| %>
      <% user = User.find(comment.user_id) %>
      <p>
        <% if !user.profile.avatar.exists? && user.image %>
          <%= image_tag user.image, class: 'tac-image', size: '20x20' %>
        <% else %>
          <%= image_tag user.profile.avatar.url(:tac), class: 'tac-image', size: '20x20' %>
        <% end %>

        <strong><%= link_to "#{user.first_name} #{user.last_name}", user.profile %></strong> <%= comment.content %>
        <% if current_user.id == comment.user_id %>
          <span> <%= link_to 'Edit', edit_comment_path(comment) %> </span>
          <span> <%= link_to 'Delete', comment, method: :delete, data: {confirm: "Are you sure?"} %> </span>
        <% end %>
      </p>
    <% end %>
  <% end %>

  <%= form_for(@comment) do |c| %>
    <%= c.text_area :content %>
    <%= c.submit "Comment" %>
    <%= c.hidden_field :post_id, value: @post.id %>
  <% end %>


</p>
</div>
