<!DOCTYPE html>
<html>
  <head>
    <title>CloneBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul style="list-style: none;">
      <% if user_signed_in? %>
        <li>
          <%= link_to 'My Profile', current_user.profile %>
        </li>
        <li>
          <%= link_to 'Timeline', root_url %>
        </li>
        <li>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
          <%= current_user.first_name %>
        </li>
        <li>
          <%= link_to 'Edit Account', edit_user_registration_path(current_user) %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Sign In', new_user_session_path %>
        </li>
        <li>
          <%= link_to 'Sign Up', new_user_registration_path %>
        </li>
      <% end %>
    </ul>

    <% flash.each do |message_type, message| %>
      <% next if message == 'Post successful!' %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>
  </body>



  <script type="text/javascript">
  // to replicate focun on each specific respective comment field when clicking on their respective above comment button:

    let commentButton = document.querySelectorAll('.comment-button');
    let commentField = document.querySelectorAll('.comment-field');

    commentButton.forEach(event => event.addEventListener('click', focus_function));

    function focus_function() {
       let index = Array.from(commentButton).indexOf(this);
       // console.log(index);
       // if (this.style.color == 'red') {
       //   this.style.color = 'black';
       // } else {
       //   this.style.color = 'red';
       // }
       commentField[index].focus();
    }

  </script>


</html>
